* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(12px + 0.390625vw);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body, html {
    width: 100vw;
    height: 100vh;
    background: rgb(192, 192, 192);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
}

.content {
    width: 80vw;
    max-width: 1200px;
    max-height: 95vh;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;       
}

.description {
    width: 350px !important;
    height: 80px !important;
    resize: vertical;
}

.imagebutton {
    border: 1px solid #dcdcdc;
    border-radius: 50px;
    margin-bottom: 20px !important;
    cursor: pointer;
    width: fit-content;
    margin: 0 auto;
}

.image {
    display: block;
    margin: 0 auto;
}

.cabin, .description, .night, .week, .inclusions, .image {
    margin-bottom: 20px !important;
    padding: 10px;
}

.submit {
    width: 200px;
    height: 50px;
    padding: 10px;
    font-size: 1em;
    border-radius: 50px;
    cursor: pointer;
}

.submit:hover {
    background-color: #ddd;
}

.submit:active {
    background-color: #ccc;
}

@media (min-width: 1024px) {
    
    body, html {
        font-size: 14px;
    }

    .content {
        padding: 15px;
    }
    
    .submit {
        width: 150px;
        height: 40px;
    }
}
