* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: calc(12px + 0.390625vw);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body, html {
    width: 100vw;
    height: 100vh;
    background: rgb(192, 192, 192);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content {
    width: 90vw; /* Adjusted to viewport width */
    max-width: 1200px; /* Maximum width */
    max-height: 90vh; /* Adjusted to viewport height */
    overflow: auto; /* Allows scrolling within the .content if necessary */
    padding: 5vw; /* Responsive padding */
    box-sizing: border-box;
}

.description {
    width: 250px; /* Fixed width */
    min-height: 150px; /* Fixed minimum height */
    padding: 1vw; /* Responsive padding */
    resize: vertical;
    margin-bottom: 1vw; /* Space below the textarea */
}

/* Adjustments for form elements */
label, select, input, textarea {
    margin-bottom: 1vw; /* Space between form elements */
}

/* Styles for the file input */
.image {
    margin-bottom: 1vw; /* Space below the file input */
}

/* Responsive submit button */
.submit {
    padding: 1vw;
    font-size: 1.2vw;
}

/* Additional responsive adjustments as needed */
@media (max-width: 600px) {
    .description, .image, .submit {
        width: 80vw; /* Make input elements take more width on smaller screens */
    }
}
